h3 {
    margin: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* vertial height*/
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    /* = 10.5 pixels */
    color: #212121;
}

ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #009688;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #00796B;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.footer {
    padding: 1em;
    background: #009688;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.5em;
    /* = 10.5 pixels */
}

.header {
  padding: 1em;
  background: #00796B;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.5em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.slides {
  shape-outside: circle();
  shape-margin: 0.5em;
}

.main {
    padding: 1em;
    background: #212121;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    /* = 10.5 pixels */
}

.aside {
    padding: 1em;
    text-align: center;
    background: #607D8B;
}

@media (max-width: 30em) {
    /* if viewport is 30em style these */
    .main {
        flex: 1 0 auto;
    }
}

@media (min-width: 30em) {
    .nav {
        display: block;
    }
    .wrapper {
        flex-direction: row;
    }
    .main {
        flex: 1 1 auto;
    }
    .aside {
        width: 20%;
    }
}
